.section-one{
padding: 20px 75px 300px 50px;
/*border-style: solid;
border-width: 5px;*/
padding-bottom: 420px;
}
.section-one .part-one{
 width: 900px;
 float: left;
 /*border-style: solid;
 border-width: 5px;*/
 margin-left: 10px;
}
.section-one .part-two{
float:right;
padding-bottom: 57px;
/*border-style: solid;
border-width: 5px;*/
}
.section-two{
    padding-top: 20px;
    padding-left: 750px;
    /*border-style: solid;
    border-width: 5px;*/
    margin-top: 5px;
}
